# Advanced panda for data wrangling

In [1]:
import pandas as pd
import numpy as np

In [5]:
data = {
    "Name": ["Vidhi", "Aryan", "Neha", "Raj", np.nan, "Manav"],
    "Subject": ["Math", "Physics", "Chemistry", "Math", "CS", "Biology"],
    "Marks": [88, 79, np.nan, 85, 95, 67],
    "Age": [24, np.nan, 22, 25, 21, 22]
}

df = pd.DataFrame(data)
print(df)

    Name    Subject  Marks   Age
0  Vidhi       Math   88.0  24.0
1  Aryan    Physics   79.0   NaN
2   Neha  Chemistry    NaN  22.0
3    Raj       Math   85.0  25.0
4    NaN         CS   95.0  21.0
5  Manav    Biology   67.0  22.0

In [6]:
print(df.isnull())       # Boolean mask
print(df.isnull().sum()) # Count nulls in each column

    Name  Subject  Marks    Age
0  False    False  False  False
1  False    False  False   True
2  False    False   True  False
3  False    False  False  False
4   True    False  False  False
5  False    False  False  False
Name       1
Subject    0
Marks      1
Age        1
dtype: int64

df_clean = df.dropna()              # Drop rows with ANY nulls
df_no_age = df.drop("Age", axis=1)  # Drop specific column

In [7]:
df["Marks"].fillna(df["Marks"].mean(), inplace=True)  # Fill with mean
df["Age"].fillna(0, inplace=True)                     # Fill with 0
df["Name"].fillna("Unknown", inplace=True)

C:\Users\Pandey's\AppData\Local\Temp\ipykernel_15216\2271392601.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Marks"].fillna(df["Marks"].mean(), inplace=True)  # Fill with mean
C:\Users\Pandey's\AppData\Local\Temp\ipykernel_15216\2271392601.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(0, inplace=True)                     # Fill with 0
C:\Users\Pandey's\AppData\Local\Temp\ipykernel_15216\2271392601.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Name"].fillna("Unknown", inplace=True)

In [8]:
grouped = df.groupby("Subject")["Marks"].mean()
print("Average marks by subject:\n", grouped)

Average marks by subject:
 Subject
Biology      67.0
CS           95.0
Chemistry    82.8
Math         86.5
Physics      79.0
Name: Marks, dtype: float64

In [9]:
agg_df = df.groupby("Subject").agg({
    "Marks": ["mean", "max", "min"],
    "Age": "mean"
})
print(agg_df)

          Marks               Age
           mean   max   min  mean
Subject
Biology    67.0  67.0  67.0  22.0
CS         95.0  95.0  95.0  21.0
Chemistry  82.8  82.8  82.8  22.0
Math       86.5  88.0  85.0  24.5
Physics    79.0  79.0  79.0   0.0

In [16]:
data1 = {
    "ID": [1, 2, 3],
    "Name": ["Vidhi", "Aryan", "Neha"]
}
data2 = {
    "ID": [1, 2, 3],
    "Score": [88, 92, 75]
}

In [11]:
df_top = df.head(3)
df_bottom = df.tail(3)
combined = pd.concat([df_top, df_bottom])
print(combined)

      Name    Subject  Marks   Age
0    Vidhi       Math   88.0  24.0
1    Aryan    Physics   79.0   0.0
2     Neha  Chemistry   82.8  22.0
3      Raj       Math   85.0  25.0
4  Unknown         CS   95.0  21.0
5    Manav    Biology   67.0  22.0

In [14]:
df["Pass"]=df["Marks"]>75
print("After adding pass column the file now is :",df)
agg_df = df.groupby("Subject").agg({
    "Marks": "mean",
    "Age": "mean"
})
print("\n Average marks and age subjectwise is : \n",agg_df)

After adding pass column the file now is :       Name    Subject  Marks   Age   Pass
0    Vidhi       Math   88.0  24.0   True
1    Aryan    Physics   79.0   0.0   True
2     Neha  Chemistry   82.8  22.0   True
3      Raj       Math   85.0  25.0   True
4  Unknown         CS   95.0  21.0   True
5    Manav    Biology   67.0  22.0  False

 Average marks and age subjectwise is :
            Marks   Age
Subject
Biology     67.0  22.0
CS          95.0  21.0
Chemistry   82.8  22.0
Math        86.5  24.5
Physics     79.0   0.0

In [15]:
df.to_csv("cleaned_students_data.csv", index=False)

In [25]:
mini_data1={
    "ID":[1,2],
    "Name":["Vidhi","Raj"],
    "Age":[21,22]
}
mini_data2={
    "ID":[1,2],
    "Status":["Unemployed","Employed"]
}
df1=pd.DataFrame(mini_data1)
df2=pd.DataFrame(mini_data2)
merged= pd.merge(df1,df2, on="ID")
print("Merged data is: \n", merged)

Merged data is:
    ID   Name  Age      Status
0   1  Vidhi   21  Unemployed
1   2    Raj   22    Employed